# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_TOFLE_LEFT
    def_bool $(shields_list_contains,tofle_left)

config SHIELD_TOFLE_RIGHT
    def_bool $(shields_list_contains,tofle_right)

config SHIELD_TOFLE_NUMPAD
    def_bool $(shields_list_contains,tofle_numpad)
